<ion-view view-title="">
  <fab-button target-id="scrollFabButtonTarget" ng-click="mostraDeletaFav()" style="background:#ef473a">
    <i class="icon ion-trash-b"></i>
  </fab-button>
  <ion-content class="padding" has-bouncing='false' > 
    <ion-refresher on-refresh="atualiza()">                     
    </ion-refresher>
    <div class="loading" ng-if="isLoading">
      <ion-spinner  icon="ios"></ion-spinner>
    </div>
    <ion-list can-swipe="true" show-delete="shouldShowDelete">
	    <!--
      <a ng-repeat="noticia in noticias" class="item"   href="#/tab/news/:{{$index}}" >
	        <b>{{noticia.title}}</b><br>
	    </a>
      <ion-option-button class="button-positive"
                       ng-click="share(item)">
      Share
    </ion-option-button>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      Edit
    </ion-option-button>
    -->
    <ion-item class="item news" ng-repeat="noticia in noticiasFav"  href="#/tab/news/fav/:{{$index}}" ng-hide="esconder">
        <span class="news">{{noticia.title}}</span> 
        <!-- {{noticia.title}} -->
        <ion-delete-button class="ion-minus-circled"
                       ng-click="deletaFav($index)">
        </ion-delete-button>        
    </ion-item>   
	</ion-list>
  </ion-content>  
</ion-view>
