<ion-view view-title="Furg FM">
  <ion-content class="padding">
  <div class="list card">
    <div class="item item-divider">Programação</div>
    <div class="item item-body">

      <div>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação
      </div>
    </div>
  </div>
  
  </ion-content>
  <div class="bar bar-footer bar-light">
     <audio style="width:100%" controls="controls" src="http://radiofurg.no-ip.info:8000/;&type=mp3"></audio>
  </div>
</ion-view>
