<ion-view view-title="Eventos">
  <ion-content class="padding">
  <ion-refresher on-refresh="atualiza()"></ion-refresher>
  <img class="loading" ng-if="isLoading" src="img/load.gif"/>  
  <ion-list>
      <a ng-repeat="evento in eventos" class="item item-avatar"   href="#/tab/eventos/:{{$index}}" >
          <img src="img/ionic.png">
          <h2><b>{{evento.DESCRICAO}}</b></h2>
          <h3>{{evento.LOCAL}}</h3>
          <p>{{evento.DATAINI | date:'dd/MM'}} a {{evento.DATAFIM | date:'dd/MM'}}</p>
        </div>
      </a>
  </ion-list>
  </ion-content>  
</ion-view>
