<ion-view view-title="Informações Gerais">
  <ion-content class="padding">
    

    <a href="#/tab/info/micro" style="text-decoration:none">
      <div class="item item-avatar" >
        <img src="img/bus.png">
        <h2>Horários do Micro</h2>
      </div>
    </a>    
    <a href="#/tab/info/ru" style="text-decoration:none">
      <div class="item item-avatar" >
        <img src="img/ru2.png">
        <h2>Restaurante Universitário</h2>
        <p>Horários e Valores</p>
      </div>
    </a>
    <a href="#/tab/info/sistemas" style="text-decoration:none">
      <div class="item item-avatar" >
        <img src="img/sistemas.jpg">
        <h2>Sistemas</h2>
        <p>Simulação de nota para exame</p>
      </div>
    </a>




  </ion-content>
</ion-view>
