<ion-view view-title="Programação TV">
  <ion-content class="padding">
  <div class="list card">
    <div class="item item-divider">Programação</div>
    <div class="item item-body">
      <div>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>
        Programação ProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramaçãoProgramação<br><br>

      
      </div>
    </div>
  </div>
  </ion-content>
  <div class="bar bar-footer bar-light">
    <iframe style="border:0;" scrolling="0" marginheight="0" marginwidth="0" src="http://directradios.com/gerador3w/test/player.php?width=300&amp;height=30&amp;autoplay=1&amp;controles=1&amp;skin=six&amp;share=0&amp;autoreconect=1&amp;url=rtmp://shflash.directradios.com/furgfm/stream&amp;tipo=1&amp;logo=&amp;posicao=top-right&amp;site=" width="500" height="40"></iframe>   
  </div>
</ion-view>
