<ion-view >
  <ion-content class="padding"> 
  	<div class="item item-divider">
    	<i class="icon ion-ios-clock-outline"></i>
    	  Horário
  	</div>
  	<div class="item ">06h45</div>
  	<div class="item ">06h45</div>
  	<div class="item ">06h45</div>
  	<div class="item ">06h45</div>

  	<div class="item item-divider">
      	<i class="icon ion-social-usd-outline"></i>
      	  Valor
    	</div>
  	<div class="item ">R$3,00 - Alunos</div>
  	<div class="item ">R$3,00 - Alunos</div>
  	<div class="item ">R$3,00 - Alunos</div>
  </ion-content>  
</ion-view>
