<ion-view view-title="">
  <ion-content class="padding"> 
	<div class="list">
	
	  	<div class="item item-divider">
    		<i class="icon ion-ios-sunny-outline"></i>
    	  	Manhã
  	  	</div>
  	  	<div class="row">
		  <div class="col-33 item">06h45</div>
		  <div class="col-33 item">07h10</div>
		  <div class="col-33 item">07h30</div>
		</div>
		<div class="row">
		  <div class="col-33 item">08h15</div>
		  <div class="col-33 item">08h50</div>
		  <div class="col-33 item">09h30</div>
		 </div>
		 <div class="row">
		  <div class="col-33 item">10h25</div>
		  <div class="col-33 item">11h05</div>
		  <div class="col-33 item">11h30</div>
		</div>
		 <div class="row">
		  <div class="col-33 item ">12h00</div>
		  <div class="col-33 item ">12h15</div>
		</div>
	  <div class="item item-divider">
    	 <i class="icon ion-ios-partlysunny-outline"></i>
    	  Tarde
  	  </div>
  	  <div class="row">
		  <div class="col-33 item ">12h45</div>
		  <div class="col-33 item ">13h15</div>
		  <div class="col-33 item ">13h40</div>
	  </div>
	  <div class="row">
		  <div class="col-33 item ">14h00</div>
		  <div class="col-33 item ">14h50</div>
		  <div class="col-33 item ">15h30</div>
	  </div>
	  <div class="row">
		  <div class="col-33 item ">16h00</div>
		  <div class="col-33 item ">16h50</div>
		  <div class="col-33 item ">17h30</div>
	  </div>
	  <div class="row">
	  	<div class="col-33 item ">18h05</div>	  
	  </div>

	  <div class="item item-divider">
    	 <i class="icon ion-ios-moon-outline"></i>
    	  Noite
  	  </div> 
  	  <div class="row"> 	  
	  	  <div class="col-33 item ">18h30</div>
		  <div class="col-33 item ">18h55</div>
		  <div class="col-33 item ">19h20</div>
	  </div>
	  <div class="row">
		  <div class="col-33 item ">19h45</div>
		  <div class="col-33 item ">20h20</div>
		  <div class="col-33 item ">21h00</div>
	  </div>
	  <div class="row">
		  <div class="col-33 item ">21h50</div>
		  <div class="col-33 item ">22h20</div>
		  <div class="col-33 item ">22h45</div>
	  </div>
	  <div class="row">
		  <div class="col-33 item ">23h15</div>
	  </div>
  </ion-content>  
</ion-view>
