<ion-view view-title="Micro">
  <ion-content class="padding"> 
	<div class="list">
	
	  <div class="item item-divider">
    	 <i class="icon ion-ios-sunny-outline"></i>
    	  Manhã
  	  </div>
	  <div class="item ">06h45</div>
	  <div class="item ">07h10</div>
	  <div class="item ">07h30</div>
	  <div class="item ">08h15</div>
	  <div class="item ">08h50</div>
	  <div class="item ">09h30</div>
	  <div class="item ">10h25</div>
	  <div class="item ">11h05</div>
	  <div class="item ">11h30</div>
	  <div class="item ">12h00</div>
	  <div class="item ">12h15</div>

	  <div class="item item-divider">
    	 <i class="icon ion-ios-partlysunny-outline"></i>
    	  Tarde
  	  </div>
	  <div class="item ">12h45</div>
	  <div class="item ">13h15</div>
	  <div class="item ">13h40</div>
	  <div class="item ">14h00</div>
	  <div class="item ">14h50</div>
	  <div class="item ">15h30</div>
	  <div class="item ">16h00</div>
	  <div class="item ">16h50</div>
	  <div class="item ">17h30</div>
	  <div class="item ">18h05</div>	  

	  <div class="item item-divider">
    	 <i class="icon ion-ios-moon-outline"></i>
    	  Noite
  	  </div>  	  
  	  <div class="item ">18h30</div>
	  <div class="item ">18h55</div>
	  <div class="item ">19h20</div>
	  <div class="item ">19h45</div>
	  <div class="item ">20h20</div>
	  <div class="item ">21h00</div>
	  <div class="item ">21h50</div>
	  <div class="item ">22h20</div>
	  <div class="item ">22h45</div>
	  <div class="item ">23h15</div>
	</div>
  </ion-content>  
</ion-view>
