<ion-view view-title="" >
  <ion-content class="padding"> 
  	<div class="card">
	  <div class="item item-text-wrap">
	  Projeto desenvolvido para a Secretária de Comunicação da FURG e para a coordenação de Acompanhamento e Apoio Pedagógico ao Estudante (PRAE) pelos alunos: Ismael Altenhofen, Marcos Fagundes Júnior, Talles Chaves do Curso de Sistemas de Informação sob a coordenação do professor Luciano Maciel Ribeiro do Centro de Ciências Computacionais.	
	  </div>
	</div>
  
  </ion-content>  
</ion-view>
