<ion-view view-title="">
  <ion-content class="padding"> 
  	<div class="item item-divider">
    	<i class="icon ion-ios-clock-outline"></i>
    	  Horário
  	</div>
    <div class="item ">Seg a Sex <br>11:15 as 14:00<br>18:15 as 21:00</div>
    <div class="item ">Sab e Dom <br>12:00 as 13:30<br>18:30 as 19:30</div>
  	<div class="item item-divider">
      	<i class="icon ion-social-usd-outline"></i>
      	  Valor
    	</div>
  	<div class="item ">R$3,00 - Alunos</div>
  	<div class="item ">R$1,50 - Alunos com desconto parcial</div>
  	<div class="item ">R$8,04 - Comunidade</div>
  </ion-content>  
</ion-view>
