<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="">
  <ion-content class="padding">
   <div class="list card detalhe-evento">
	  <div class="item titulo" >
	    {{evento.DESCRICAO}}
	  </div>

	  <div class="item item-body">	    
  	  <img  class="full-image" src="img/semana.jpg"/>
	   	<ul class="list">
    		<li class="item">
	      		<b>Data Início :</b>{{evento.DATAINI | date:'dd/MM/yy'}}
	         </li>
	          <li class="item">
	      		 <b>Data Fim :</b>{{evento.DATAFIM | date:'dd/MM/yy'}}
	         </li>
	         <li class="item">
	      		 <b>Descrição: </b>{{evento.OBSERVACAO}}
	         </li>
		</ul>
	     
	 	<section id="cd-timeline">
				<div ng-repeat="programacao in evento.PROGRAMACOES"  class="cd-timeline-block">
					<div class="cd-timeline-img">			
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<h2>{{programacao.DESCRICAO}}</h2>
						<p>incluir descriçao no eventos.</p>
						<span class="cd-read-more">{{programacao.HORAINI}} a {{programacao.HORAFIM}} <br>{{programacao.SALA}}</span>
						
					</div> <!-- cd-timeline-content -->

				</div> <!-- cd-timeline-block -->
			 
				<div class="cd-timeline-block">
					<!-- ... -->
				</div>
			</section>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" style="color:#828282">
	      <i class="icon ion-android-bookmark"></i>
	      Inscrição
	    </a>
	    <a class="tab-item" style="color:#828282"  ng-click="teste()">
	      <i class="icon ion-android-checkmark-circle"></i>
	      Lembrar-me
	    </a>
	  </div>
	</div>	


	  
  </ion-content>
</ion-view>
