<ion-view view-title="Informações Gerais">
  <ion-content class="padding">
    

    <a href="#/tab/info/micro" style="text-decoration:none">
      <div class="item item-avatar" >
        <img src="img/bus.png">
        <h2>Horários do Micro</h2>
      </div>
    </a>    
    <a href="#/tab/info/ru" style="text-decoration:none">
      <div class="item item-avatar" >
        <img src="img/ru2.png">
        <h2>Restaurante Universitário</h2>
      </div>
    </a>
    <a href="#/tab/info/biblioteca" style="text-decoration:none">
      <div class="item item-avatar" >
        <img src="img/biblio.jpg">
        <h2>Biblioteca</h2>
      </div>
    </a>
    <a href="#/tab/info/projeto" style="text-decoration:none">
      <div class="item item-avatar" >
        <img src="img/projeto.png">
        <h2>O projeto</h2>
      </div>
    </a>




  </ion-content>
</ion-view>
